
{% extends 'shop/basic.html' %}
{% block title%} Home - Food Mania{% endblock %}
{% block css %}
    .col-md-3
    {
        display: inline-block;
        margin-left:-4px;
    }
    .carousel-indicators .active {
        background-color: blue;
    }
    .col-md-3 img{
        width:227px;
        height:222px;
    }
    body .carousel-indicator li{
        background-color: blue;
    }
    body .carousel-indicators{
        bottom: -35px;
    }
    .carousel-indicators li{
        background-color: #7270fc;
    }
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon{
        background-color: blue;
    }
    .carousel-control-prev,
    .carousel-control-next{
        top:auto;
        bottom:auto;
        padding-top:222px;
    }
    body .no-padding{
        padding-left: 0,
        padding-right: 0;
    }
    div.c {
        width: 1000px;
        margin: 10px;
        font-size: 20px;
        position: relative;
        left: 174px;
    }
{% endblock %}

  {% block body %}
  {% load static %}

<div class="container">
    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h3 class="my-4">{{product.0.category}}</h3>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for i in product %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name|slice:"0:20"}}...</h5>
                                <h6 style="color: #ff0000">Rs. <i id="pricepr{{i.id}}">{{i.price}}</i>/-</h6>
                                <p class="card-text">{{i.desc|slice:"0:23"}}...</p>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
                                </span>
                                <a href="/shop/productView/{{i.id}}"> <button id="qv{{i.id}}" class="btn btn-primary cart">Quick View</button> </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- left and right controls for the slide -->
        <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
// console.log({{request.user.id}});
if (localStorage.getItem('cart') == null) {
    var cart = {};
    
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
}

// If the add to cart button is clicked, add/increment the item
$('.divpr').on('click', 'button.cart', function() {
    var idstr = this.id.toString();
    //console.log(idstr);
    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
    } else {
        qty = 1;
        name = document.getElementById('name'+idstr).innerHTML;
        price = document.getElementById('price'+idstr).innerHTML;
        cart[idstr] = [qty, name, parseInt(price)];
    }
    updateCart(cart);
});


$('#popcart').popover();
updatePopover(cart);

function updatePopover(cart) {
    var popStr = "";
    popStr = popStr + "<div class='mx-2 my-2'>";
    var i = 1;
    var j = 0;
    for(var item in cart) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 15) + "... (Qty: " + cart[item][0] + ')<br>';
        i = i + 1;
        j = j + 1;
    }
    if(j == 0) {
        popStr = popStr + "<p><b> No item available in your cart </b></p><div class='mx-2 my-2'>";
        popStr = popStr + "</div> <a href='/shop'><button class='btn btn-primary'>Add items</button></a> ";
    }
    else{
        popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id='checkout'>Checkout</button></a> <a href='/shop/'><button class='btn btn-primary' onclick='clearCart()' id='clearCart'>Clear Cart</button></a>  ";
    }
    document.getElementById("popcart").setAttribute('data-content', popStr);
    $('#popcart').popover();
}

function clearCart() {
  cart = JSON.parse(localStorage.getItem('cart'));
  for (var item in cart) {
    document.getElementById('div' + item).innerHTML = '<button id="'+ item +'" class="btn btn-primary cart">Add to Cart</button>'
  }
  localStorage.clear();
  cart = {};
  updateCart(cart);
}

function updateCart(cart) {
    //console.log(cart);
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    updatePopover(cart);
}

$('.divpr').on("click", "button.minus", function() {
    //console.log("minus clicked");
    a = this.id.slice(7, );
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    if(cart['pr' + a][0] == 0) {
        document.getElementById('divpr' + a).innerHTML = '<button id="pr'+a+'" class="btn btn-primary cart">Add to Cart</button>';
        delete cart['pr'+a];
    }
    else {
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    }
    updateCart(cart);

});

$('.divpr').on("click", "button.plus", function() {
    //console.log("plus clicked");
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});

document.getElementById('categoryList').innerHTML = '<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a><div class="dropdown-menu" aria-labelledby="navbarDropdown" >{% for product, range, nSlides in allProds %}<a class="dropdown-item" href="/shop/search/?search={{product.0.category}}">{{product.0.category}}</a>{% endfor %}</div>';



</script>
{% endblock %}