<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Reset Password - Food Mania</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/logo.png" type = "image/x-icon">

</head>
<body>

<!--    <div class="jumbotron">-->

<!--        <h3>Password reset</h3>-->
<!--        <p>Forgotten your password?<br> Enter your email address below, and we’ll email instructions for setting a new one.</p>-->

<!--        <form method="post">-->

<!--            {% csrf_token %}-->
<!--            {{form}}-->
<!--            <input type="Submit" name="Send email">-->

<!--        </form>-->
<!--    </div>-->
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="jumbotron">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2>Forgot your password?</h2>
	                <p>Change your password in three easy steps. This will help you to secure your password!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
	                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
	                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
	                </ol>
	            </div>
	            <form method="post">

                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send email">

                </form>
	        </div>
	    </div>
        </div>
	</div>

</body>
</html>

