<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Sent Password - Food Mania</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/logo.png" type = "image/x-icon">
</head>
<body>

    <div class="jumbotron">
        <h3>Enter new password</h3>

		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form method="post">

			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Update Password">

		</form>
    </div>

</body>
</html>

