{% extends 'shop/basic.html' %}

{% block title%} {{product.product_name}} - Food Mania {% endblock %}
{% block css %}
    #cont {
        min-height : 553px;
    }
{% endblock %}
{% block body %}
<div>&nbsp;
    <a href="/shop" class="active text-dark">
      <i class="fas fa-qrcode"></i>
      <span>All Food</span>
    </a>
</div>

<div class="container my-4" id="cont">
    <div class="row">
    <div class="col-md-4">
        <img src="/media/{{product.image}}" width="233px" height="300px">
    </div>

    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b>Rs. {{product.price}} </b></p>
        <p>{{product.desc}}</p>
<!--        <button class="btn btn-primary mx-2">Add to Cart</button>-->
        <div class='alert alert-info col-md-4 col-md-offset-4'>
            <center>Click <a href='/shop/search/?search={{product.product_name}}' class='alert-link'>Here</a> to Order.</center>
        </div>
    </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}

else{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}

$('.cart').click(function(){

console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] != undefined){
cart[idstr] = cart[idstr] + 1;
}
else{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover()

document.getElementById("popcart").setAttribute('data-content', '<h5>Cart</h5>');
</script>
{% endblock %}
