{% extends 'shop/basic.html' %}
{% block title%} Tracker - Food Mania{% endblock %}
{% block css %}
    .footer {
      position: fixed;
      bottom: 0;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div class="container">
    <div class="col my-4">
        <h2>Enter your Order Id and Email address to track your order</h2>
        <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <b><label for="orderId">Order Id: </label></b>
                    <input type="number" class="form-control" id="orderId" name="orderId" placeholder="Order Id" required>
                </div>
                <div class="form-group col-md-4">
                    <b><label for="email">Email: </label></b>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group col-md-4">
                    <b><label for="pass">Password: </label></b>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter Password" required data-toggle="password">
                </div>
                <input type="hidden" name="name" id="name" value="{{ request.user }}">
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>
    <div class="col my-4" id="mydiv">
    </div>
</div>
{% else %}
<div id="cont2">
    <div class="alert alert-info">
        <font style="font-size:22px"><center>Before Track Your Order you need to <strong><a class="alert-link" data-toggle="modal" data-target="#loginModal">Login</a></strong></center></font>
    </div>
</div>
{% endif %}

{% endblock %}
{% block js %}
<script>

$('#popcart').popover();
updatePopover(cart);

function updatePopover(cart) {
    var popStr = "";
    popStr = popStr + "<h5> Click <a href='/shop/checkout'><button class='btn btn-primary'>Here</button></a> to order </h5><div class='mx-2 my-2'>";
    document.getElementById("popcart").setAttribute('data-content', popStr);
    $('#popcart').popover();
}

$('#trackerForm').submit(function(event) {
    $('#mydiv').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'password': $('input[name=pass]').val(),
        'name': $('input[name=name]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })

        .done(function(data) {
//            console.log(data)
            $('#mydiv').empty();
            data = JSON.parse(data);

            mydiv = `<div class="my-4">
                        <h2>Your Order Status</h2>
                        <ul class="list-group" id="items">
                        </ul>
                    </div>`;
            $('#mydiv').append(mydiv);

            if (data['status'] == "success") {
                updates = data['updates'];

                mydiv = `<div class="my-4">
                            <h2>Your Order Details</h2>
                            <ul class="list-group" id="citems">
                            </ul>
                        </div>`;
                $('#mydiv').append(mydiv);

                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    var s = new Date(time).toLocaleString(undefined, {timeZone: 'Asia/Kolkata'}); 
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">${text}<span class="badge badge-primary badge-pill">${s}</span></li>`
                    $('#items').append(mystr);
                }

                // fill products details
                cart = JSON.parse(data['itemsJson']);
                // console.log(typeof(cart));

                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                             ${name}
                             <span class="badge badge-primary badge-pill">${qty}</span>
                             </li>`
                    $('#citems').append(mystr);
                }
            }
            else if (data['status'] == "Invalid") {
                alert("your Password is Wrong!!");
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">Your Password is Wrong</li>`
            	$('#items').append(mystr);
            }
            else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
            	$('#items').append(mystr);
            }

        });
        event.preventDefault();
});

</script>
{% endblock %}
